body {
	margin: 0 !important;
	padding: 0 !important;
	text-align: center !important;
	font-family: 'Roboto', sans-serif !important;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 470px;
	width: 425px;
	border: 2px solid #74ebe6;
	text-transform: uppercase;
	border-radius: 40px;
	background-color: rgb(37, 37, 37);
	margin-left: 20px;
	margin-right: 20px;
	overflow: hidden;
	box-sizing: border-box;
}

.title-form {
	margin-top: -5rem;
	margin-bottom: 5rem;
}

.label_user {
	margin-top: -2rem;
	margin-left: -55%;
}

.input_user {
	border-radius: 50px;
	width: 70%;
	height: 40px;
	background-color: rgb(169, 169, 169);
	color: black;
	padding-left: 15px;
	font-size: 16px;
}

.label_password, .la {
	margin-top: 2rem;
	margin-left: -45%;
}

.input_password {
	border-radius: 50px;
	width: 70%;
	height: 40px;
	background-color: rgb(169, 169, 169);
	color: black;
	padding-left: 15px;
	font-size: 16px;
}

.boton {
	margin-bottom: 5rem;
	margin-top: 3rem;
	height: 40px;
	width: 100px;
	color: white;
	background-color: dimgrey;
	border: #74ebe6 solid 1px;
	text-transform: uppercase;
}

.boton:hover {
	cursor: pointer;
	box-shadow: 4px 4px 4px 0 rgba(148, 242, 249, 0.5);
}



